.AboutMe {
    margin: 40px auto;
    text-align: center;
}

.AboutMe h4 {
    color: #443F43;
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 900;
}

.AboutMe .AboutMe-text {
    color: #443F43;
    text-align: justify;
    line-height: 2;
    font-size: 17px;
    margin-bottom: 20px;
}

.AboutMe .AboutMe-text-name {
    color: #ec7f69;
    font-weight: 600;
    font-size: 20px;
}

.AboutMe .AboutMe-resume {
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    color: #FFFFFF ;
    background-color: #ec7f69;
    border: 1px solid #ec7f69;
    border-radius: 5px;
}

.AboutMe .AboutMe-resume:hover {
    color:#ec7f69;
    background-color: #FFFFFF;
}