.AboutMe {
    background: #d7e7c9;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.AboutMe h4 {
    color: #253126;
    text-align: center;
    margin: 10px 0px 20px;
}

.AboutMe .AboutMe-text {
    color: #465c47;
    text-align: justify;
    line-height: 2;
    margin: 0px 30px;
}
