.Certifications {
    background: #d7e7c9;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.Certifications h4 {
    color: #253126;
    margin: 10px 0px 20px;
}

.Certifications .Certifications-text {
    color: #465c47;
    line-height: 2;
    margin: 10px 0px;
}

.Certifications img {
    margin: 5px;
    border: 5px solid #fff;
    border-radius: 5px;
}
