.Certifications {
    background: #c5c5c5;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.Certifications h4 {
    color: #1F2937;
    margin: 10px 0px 20px;
    font-size: 30px;
    font-weight: 900;
}

.Certifications .Certifications-text {
    color: #1F2937;
    line-height: 2;
    margin: 10px 0px;
}

.Certifications img {
    margin: 5px;
    border: 2px solid #1F2937;
    border-radius: 5px;
}
