.ContactMe {
    padding: 20px 0;
    text-align: center;
    background-image: url(/src/images/alexander-grey-62vi3TG5EDg-unsplash.jpg);
    background-size: cover;
    color: #443F43;
}

.ContactMe .ContactMe-container {
    width: fit-content;
    padding: 5px;
    background-color: rgb(225, 221, 220, 0.6);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(118, 117, 116, 0.4);
    font-size: 15px;
}

.ContactMe h4 {
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 900;
}

.ContactMe .ContactMe-text {
    line-height: 2.5;
    margin: 0px 10px;
}

.ContactMe a {
    font-size: 30px;
    color: #161414;
    margin: 20px;
}

.ContactMe .ContactMe-icon-linkedin {
    color: #0B5FBB;
}

.ContactMe .ContactMe-icon-linkedin:hover {
    color: #ee9a89;
}

.ContactMe .ContactMe-icon-github {
    color: #161414;
}

.ContactMe .ContactMe-icon-github:hover {
    color: #ee9a89;
}

.ContactMe .ContactMe-icon {
    color: #EC7F69;
}

.ContactMe .ContactMe-contact {
    font-weight: 600;
    margin: 10px;
}

.ContactMe .ContactMe-phone {
    font-weight: 600;
    margin: 10px;
}

.ContactMe .ContactMe-location {
    margin: 10px;
}