.ContactMe {
    background: #c5c5c5;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.ContactMe h4 {
    color: #1F2937;
    margin: 10px 0px 20px;
    font-size: 30px;
    font-weight: 900;
}

.ContactMe .ContactMe-text {
    color: #1F2937;
    line-height: 2;
    margin: 10px;
}

.ContactMe a {
    font-size: 30px;
    color: #161414;
    margin: 20px;
}

.ContactMe .ContactMe-icon-linkedin {
    color: #0B5FBB;
}

.ContactMe .ContactMe-icon-github {
    color: #161414;
}

.ContactMe .ContactMe-contact {
    font-size: 18px;
    color: #1F2937;
    margin: 10px;
}

.ContactMe .ContactMe-location {
    font-size: 15px;
    color: #1F2937;
    margin: 10px;
}
