.ContactMe {
    background: #1F2937;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.ContactMe h4 {
    color: #F9FAF8;
    margin: 10px 0px 20px;
    font-size: 30px;
    font-weight: 900;
}

.ContactMe .ContactMe-text {
    color: #E5E7EB;
    line-height: 2;
    margin: 10px;
}

.ContactMe a {
    font-size: 30px;
    color: #E5E7EB;
    margin: 20px;
}

.ContactMe a:hover {
    color: #fa7c6b;
}

.ContactMe .ContactMe-contact {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.ContactMe .ContactMe-location {
    font-size: 15px;
    color: #E5E7EB;
    margin: 10px;
}
