.MainPage {
    color: #1F2937;
    font-size: 45px;
    margin: 30px 10px;
}

.MainPage .row {
    align-items: center;
}

.MainPage .MainPage-text {
    margin: 5px;
}

.MainPage .MainPage-photo {
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.MainPage .MainPage-name {
    color: #fa7c6b;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.2);
}

.MainPage .MainPage-role {
    font-size: 30px;
}
