.MainPage {
    color: #443F43;
    font-size: 50px;
    font-family: 'Kalam', cursive;
    font-weight: 700;
    margin: 22% 7%;
    width: fit-content;
}

.MainPage .MainPage-name {
    font-size: 200%;
    color: #DA5663;
    text-shadow: 
        4px 4px 0px #F499A1,
        8px 8px 0px #EFBBAD,
        12px 12px 0px #EFDCD8;
}

.MainPage .MainPage-role {
    font-size: 70%;
    color: #959595;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}