.MenuBar .MenuBar-navbar {
    background: #a7c68b;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.MenuBar button {
    background: #a7c68b;
    border: 1px solid #a7c68b;
    color: #465c47;
    font-size: 22px;
    transition: all 150ms ease-in-out;
}

.MenuBar button:hover {
    color: #253126;
}

.MenuBar .MenuBar-local-temperature {
    color: #465c47;
    font-weight: bold;
    font-size: 18px;
}
