.MenuBar .MenuBar-navbar {
    background: #1F2937;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.MenuBar .MenuBar-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}

.MenuBar a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
    transition: all 150ms ease-in-out;
}

.MenuBar a:hover {
    color: #fa7c6b;
    text-decoration: underline;
}
