.MenuBar .MenuBar-navbar {
    padding: 0;
    background-color: #FFFFFF;
    justify-content: space-between;
}

.MenuBar .MenuBar-brand {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    margin: 0;
    padding: 5px 15px;
    color: #918c9e;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.MenuBar .MenuBar-brand-first-letter {
    color: #e6ada2;
    text-shadow: 
    1px 1px 0px #ecc5bb,
    3px 3px 0px #EFDCD8;
}

.MenuBar .MenuBar-link {
    font-size: 16px;
    color: #eec2bb;
    text-align: center;
}

.MenuBar .MenuBar-link.active {
    color: #eec2bb;
}

.MenuBar .MenuBar-link:hover {
    color: #ee9a89;
}