.Profile {
    font-size: 35px;
    text-align: center;
    margin: 10% auto;
}

.Profile .Profile-photo {
    max-width: 60%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 
        10px 5px 5px rgba(0,0,0,0.3),
        20px -15px 0 #DA5663,
        27px 12px 0 #EFBBAD,
        -20px 10px 0 #F499A1;
    margin: 10px auto;
}

.Profile .Profile-name {
    font-family: 'Kalam', cursive;
    font-size: 50px;
    color: #FFFFFF;
}

.Profile .Profile-name-first-letter {
    color: #DA5663;
    text-shadow: 1px 1px 0px #F499A1,
    2px 2px 0px #EFBBAD,
    3px 3px 0px #EFDCD8;
}

.Profile .Profile-role {
    font-size: 50%;
    opacity: 0.7;
}