.Projects {
    text-align: center;
    margin: 40px auto;
}

.Projects h4 {
    color: #443F43;
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 900;
}

.Projects .Projects-text {
    color: #443F43;
    margin: 10px;
}

.Projects .Projects-row {
    margin: 0;
}

.Projects .Projects-nav {
    margin: 10px auto;
}

.Projects .Projects-nav-item a {
    color: #ee9a89;
}

.Projects .Projects-nav-item .active {
    background-color: #EC7F69;
}

.Projects .Projects-tab-caption {
    background-color: #F6EDEE;
    border: 1px solid #DEE2E6;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
}

.Projects .Projects-tab-description {
    padding: 10px;
    font-size: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.Projects .Projects-icon-html {
    color: #D84924;
}

.Projects .Projects-icon-css {
    color: #2449D8;
}

.Projects .Projects-icon-javascript {
    color: #EAD41C;
}

.Projects .Projects-icon-react {
    color: #77D4F2;
}

.Projects .Projects-icon-bootstrap {
    color: #8412F2;
}

.Projects .Projects-tab-links {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.Projects .Projects-tab-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #443F43;
    background-color: #FFFFFF;
    border: 1px solid #443F43;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.Projects .Projects-tab-links a:hover {
    color: #FFFFFF;
    background-color: #443F43;
    border: 1px solid #443F43;
}

.Projects .Projects-tab img {
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #DEE2E6;
    border-top: none;
}

/* .Projects .Projects-tab-overlay {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.Projects .Projects-tab-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.Projects .Projects-tab-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.Projects .Projects-tab-overlay:hover > * {
    transform: translateY(0);
}

.Projects .Projects-tab-overlay-title {
    font-size: 20px;
    font-weight: 600;
}
*/

/* .Projects .Projects-card-overlay a {
    color: #443F43;
    font-size: 25px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.Projects .Projects-card-overlay a:hover {
    color: #FFFFFF;
    background-color: #443F43;
    border: 1px solid #FFFFFF;
} */

/* .Projects button {
    background: #696969;
    margin: 5px 0px 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
}

.Projects button:hover {
    background: #443F43;
} */

/* .Projects .Projects-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    background: #c5c5c5;
    color: #443F43;
    transition: all 200ms ease-in-out;
} */

/* .Projects .Projects-card:hover {
    scale: 1.1;
} */
