.Skills {
    padding: 20px 0px;
}

.Skills h4 {
    color: #1F2937;
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 30px;
    font-weight: 900;
}

.Skills ul {
    list-style: none;
    display: table;
    margin: 0 auto;
    font-size: 20px;
}

.Skills li {
    color: #1F2937;
    line-height: 2;
}

.Skills a {
    text-decoration: none;
    color: #161414;
}

.Skills .Skills-icons-description {
    margin-right: 10px;
}

.Skills .Skills-icon-html {
    color: #D84924;
}

.Skills .Skills-icon-css {
    color: #2449D8;
}

.Skills .Skills-icon-javascript {
    color: #EAD41C;
}

.Skills .Skills-icon-react {
    color: #77D4F2;
}

.Skills .Skills-icon-bootstrap {
    color: #8412F2;
}

.Skills .Skills-icon-github {
    color: #161414;
}

.Skills .Skills-title {
    font-weight: 600;
}
