.Skills {
    padding: 20px 0px;
}

.Skills h4 {
    color: #1F2937;
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 30px;
    font-weight: 900;
}

.Skills ul {
    list-style: none;
    display: table;
    margin: 0 auto;
}

.Skills li {
    color: #1F2937;
    line-height: 2;
}

.Skills .Skills-title {
    font-weight: 600;
}
