.Skills {
    margin: 40px auto;
    text-align: center;
    color: #443F43;
}

.Skills h4 {
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 900;
}

.Skills a {
    text-decoration: none;
    color: #443F43;
}

.Skills .Skills-title {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #443F43;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}

.Skills .Skills-text {
    justify-content: center;
}

.Skills .Skills-icon-html {
    color: #D84924;
}

.Skills .Skills-icon-css {
    color: #2449D8;
}

.Skills .Skills-icon-javascript {
    color: #EAD41C;
}

.Skills .Skills-icon-react {
    color: #77D4F2;
}

.Skills .Skills-icon-bootstrap {
    color: #8412F2;
}

.Skills .Skills-icon-github {
    color: #161414;
}