.AboutMe {
    background: #d7e7c9;
    padding: 20px;
    border-radius: 10px;
}

.AboutMe h4 {
    color: #253126;
    text-align: center;
    margin: 10px 0px 20px;
}

.AboutMe p {
    color: #465c47;
    text-align: justify;
    line-height: 2;
    margin: 0px 60px;
}
