.MainPage {
    color: #465c47;
    font-size: 45px;
    margin: 30px;
}

.MainPage .row {
    align-items: center;
}

.MainPage .MainPage-photo {
    overflow: hidden;
    border-radius: 50%;
}

.MainPage .MainPage-name {
    color: #fea295;
    font-size: 75px;
    margin: 30px;
}

.MainPage .MainPage-role {
    font-size: 30px;
}
